main{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
html{
    height:100%;
    width:100%;
    background-color: #121212;
    font-family: "Roboto", sans-serif;
}

.container{
    color:white;
}
.topbar{
    display:flex;
    gap:65%;
    text-transform: uppercase;
    font-size: 1.2rem;
    
}
h4{
    font-weight: 500;
}
.rightbar{
    display:flex;
    gap:2rem;
    
}

.leftbar{
    font-size: 1.4rem;
    
}


.mid{
    position:absolute;
    top:25%;
    left:25%;
    font-size: 4rem;
    text-transform: uppercase;
    width:1000px;
    line-height: 50px;
    
}

h1{
    font-weight: 380;
    position: relative;
    z-index: 9;

}
.two{
    margin-left: 15%;
}
.three{
    margin-left: 30%;
}

img{
    height:400px;
    width:280px;
    position:absolute;
   top:15%;
   left:40%;
}
#ione{
    rotate:10deg;
}
#itwo{
    rotate:25deg;
}



